[report]
omit =
    *asyncio*
    *concurrent*
    *ctypes*
    *decimal.py*
    *html\*
    *mimetypes.py*
    *multiprocessing\*
    *numbers.py*
    *stringprep*
    *uuid.py*
    *api\*
    *instance\*
    *encodings\*
    *mac*
    *click*
    *colorama\*
    *flask\*
    *itsdangerous.py*
    *jinja2\*
    *markupsafe\*
    *werkzeug\*
    *http\cookiejar.py*







